body h1{
    font-family: 'Libre Baskerville', serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 39px;
    text-align: center;
}
.flexible-contain{
    display: flex;
}
.first-section{
    width: 50%;
    padding: 3%;
}
.first-section img{
    width: 80%;
}
span{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    font-weight: 700; 
}
.make-border{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px 70px 10px 40px;
    padding-top: 80px;
    border-radius: 10px;
}
#first-border{
    background-color: rgb(210, 250, 255);
}
#second-border{
    background-color: rgb(255, 218, 255);
}
#third-border{
    background-color: rgb(255, 233, 194);
}
