body{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}
.paragrap-pad{
    padding-left: 8%;
}
p{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
    margin: 0%;
}
h2{
    font-size: 39px;
    text-align: center;
    margin-bottom: 100px;
    margin: 3%;
}
.flexible-contain{
    display: flex;
    padding-bottom: 5%;
    padding-top: 4%;
    padding-right: 5%;
}
.center{
    padding-top: 7%;
    padding-right: 5%;
}
.second-center{
    padding-top: 7%;
    padding-left: 5%;
}
.first-section{
    width: 50%;
    padding: 8%;

}
.second-section img{
    width: 80%;  
    padding-left: 4%;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 30px;
    border-radius: 3px;
    color: white;
    font-weight: 700; 
}
.make-border{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 10px;
}
div img{
    width: 30%;
}
#first-border{
    background-color: rgb(210, 250, 255);
}
#second-border{
    background-color: rgb(255, 218, 255);
}
#third-border{
    background-color: rgb(255, 233, 194);
}
.section-padd{
    padding-bottom: 8%;
    padding-left: 10%;
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
}